body {
    position: relative;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main__ {
    width: 100%;
    height: calc(100vh - 5rem);
    overflow: hidden;
    background-color: $blackDark;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer__ {
    width: 100%;
    height: 5rem;
    padding: 0 5rem;
    border-top: 0.063rem solid $blackRegular;
    background-color: $blackDark;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    span {
        font-size: 0.9rem;
        font-style: italic;
        text-align: center;
    }

    a {
        font-size: 0.9rem;

        &:hover {
            color: $colorRegular;
        }
    }
}

.tether__title {
    text-align: center;
}

.tether__board {
    width: 18.75rem;
    margin-top: 2rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    .tether__item {
        cursor: pointer;
        width: 6.25rem;
        height: 6.25rem;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 3.75rem;
        font-weight: bold;
        color: $white;

        &:hover {
            background-color: $colorDark;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5) {
            border-right: 0.188rem solid $blackRegular;
            border-bottom: 0.188rem solid $blackRegular;
        }

        &:nth-child(3),
        &:nth-child(6) {
            border-bottom: 0.188rem solid $blackRegular;
        }

        &:nth-child(7),
        &:nth-child(8) {
            border-right: 0.188rem solid $blackRegular;
        }
    }
}

.tether__info {
    width: 18.75rem;
    margin: 2rem 0;
    padding: 0.625rem;
    border-radius: 0.75rem;
    border: 0.063rem solid $blackRegular;
    background-color: $blackRegular;

    display: flex;

    .tether__info__item {
        flex: 1;

        .tether__info__title {
            margin-bottom: 0.4rem;

            text-align: center;
        }

        .tether__info__content {
            font-size: 1rem;
            font-weight: 500;
            color: $colorRegular;
            text-align: center;

            &.turn__ {
                color: $white;
            }
        }
    }
}

.tether__reset {
    cursor: pointer;
    width: fit-content;
    height: auto;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 0.75rem;
    background-color: $blackRegular;
    transition: 1s background ease-in-out;

    font-size: 1rem;
    font-weight: 500;
    color: $white;

    &:hover {
        background-color: $colorDark;
    }
}