// VARIABLES...

$font: 'Rubik', sans-serif;

$colorLight: #FFC971;
$colorRegular: #FFB627;
$colorDark: #FF9505;

$white: #FFFFFF;

$gray: #D8D8D8;
$grayLight: #EEEEEE;
$grayDark: #878787;

$blackLight: #151B26;
$blackRegular: #121212;
$blackDark: #0A0A0A;
