/*
|--------------------------------------------------------------------------
| BORDER WIDTH
|--------------------------------------------------------------------------
*/

$bw-thin: 0.063rem; // 1px
$bw-medium: 0.094rem; // 1.5px
$bw-thick: 0.125rem; // 2px
$bw-heavy: 0.25rem; // 4px

/*
|--------------------------------------------------------------------------
| BORDER RADIUS
|--------------------------------------------------------------------------
*/

$radii-xs: 0.25rem; // 4px
$radii-sm: 0.5rem; // 8px
$radii-lg: 1rem; // 16px
$radii-xl: 1.5rem; // 24px
$radii-2xl: 2rem; // 32px
$radii-full: 50%;