/*
|--------------------------------------------------------------------------
| BREAKPOINTS
|--------------------------------------------------------------------------
*/

$laptop-lg: 1140px;
$laptop-md: 1200px;
$laptop-xs: 1080px;
$laptop: 1024px;
$tablet: 768px;
$tablet-sm: 720px;
$mobile-lg: 425px;
$mobile-md: 375px;
$mobile-sm: 320px;
