/*
|--------------------------------------------------------------------------
| COLORS PRIMARYS
|--------------------------------------------------------------------------
*/
$color-primary: #FFD800;
$color-secondary: #FFD200;
$color-tertiary: #FFDD00;

/*
|--------------------------------------------------------------------------
| COLORS NEUTRALS
|--------------------------------------------------------------------------
*/

$color-white: #FFFFFF;
$color-gray-50: #EDEDED;
$color-gray-100: #DFDFDF;
$color-gray-200: #7D7D7D;
$color-gray-300: #4F4F4F;

$color-black-50: #121212;
$color-black-100: #0A0A0A;