/*
|--------------------------------------------------------------------------
| OPACITIES
|--------------------------------------------------------------------------
*/

$op-default: 100%;
$op-semi-opaque: 90%;
$op-intense: 75%;
$op-medium: 50%;
$op-light: 25%;
$op-semi-transparent: 10%;
