/*
|--------------------------------------------------------------------------
| SHADOWS
|--------------------------------------------------------------------------
*/

$shadow-dark-1: 0 0.625rem 1.563rem rgb(0 0 0 / 20%);
$shadow-dark-2: inset -0.063rem 0 0 0 rgb(228 228 228 / 10%);
$shadow-dark-3: 0 0.313rem 0.938rem rgb(27 29 33 / 8%);
$shadow-dark-4: 0 1.563rem 2.5rem rgb(27 29 33 / 30%);
$shadow-dark-5: 0.625rem 0 2.5rem rgb(27 29 33 / 30%);
$shadow-dark-6: 0 1.5rem 4rem rgb(0 0 0 / 50%);
$shadow-dark-7: 0 0.063rem 0.563rem -0.188rem rgb(0 0 0 / 25%);
$shadow-none: none;